
* {
  box-sizing: border-box;
  margin: 10;
  padding: 0;

}
body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

a {
  color: #333;
  text-decoration: none;
}

.container {
  padding: 0 1rem;
}

.btn {
  display: inline-block;
  border: none;
  background: #00897B;
  color: #fff;
	padding: '5px 8px';
  font-size: 2em;
  cursor: pointer;
}

.btn:hover {
  background: #00BFA5;
}